<?xml version="1.0" ?>
<robot name="mr_robot" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="silver">
  <color rgba="0.700 0.740 0.700 1.000"/>
</material>
<material name="translucent">
  <color rgba="0.27 0.33 0.3 0.5"/>
</material>
<material name="black">
  <color rgba="0 0 0 1"/>
</material>
<material name="dark_grey">
  <color rgba="0.24 0.26 0.24 1"/>
</material>
<material name="blue">
  <color rgba="0 0 1 1"/>
</material>
<material name="orange">
  <color rgba="0.8 0.35 0.10  1"/>
</material>
<material name="red">
  <color rgba="1 0 0 1"/>
</material>
<material name="green">
  <color rgba="0.08 0.6 0.21 1"/>
</material>
<material name="dark_red">
  <color rgba="1 0.08 0.2 1"/>
</material>
<material name="white">
  <color rgba="1 1 1  1"/>
</material>


</robot>
