<launch>
  <arg name="model" default="$(find mr_robot_description)/urdf/mr_robot.xacro"/>
  <arg name="gui" default="true"/>
  <arg name="rvizconfig" default="$(find mr_robot_description)/launch/urdf.rviz"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
</launch>
